[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.2.1"
findspark = "==2.0.1"
py4j = "==0.10.9.3"

[dev-packages]

[requires]
python_version = "3.8"
